{% extends 'aptdb_static.html' %}
{% load static %}

{% block banner %}
<img src="{% static 'images/AptDB.png' %}" style="width:100%; max-width:350px; max-height:250px;" alt="Description of the image" class="responsive-img">
{% endblock %}

{% block links %}
<a href="{% url 'home' %}" class="w3-bar-item w3-button w3-cyan w3-mobile"><i class="w3-margin-right"></i>Home</a>
<a href="{% url 'sent_index' %}" class="w3-bar-item w3-button w3-mobile">Sentiment Analysis App</a>
{% endblock %}

{% block rooms%}
<div class="w3-container w3-margin-top" id="rooms">
  <h3>Apartments</h3>
  <p>View Apartments are based in the Dallas-Fort Worth Area.</p>
</div>

<form action="{% url 'aptdb_results' %}"method="post">
    {% csrf_token %}
    <div class="w3-row-padding" style="margin:0 -16px;">
      <div class="w3-half w3-margin-bottom">
        <label><i class="fa fa-money"></i> Monthly Minimum</label>
        <input class="w3-input w3-border" type="number" placeholder="400" name="rent_min" min="400">
      </div>
      <div class="w3-half">
        <label><i class="fa fa-money"></i> Monthly Maximum</label>
        <input class="w3-input w3-border" type="number" placeholder="500" name="rent_max" min="500">
      </div>
    </div>
    <div class="w3-row-padding" style="margin:8px -16px;">
      <div class="w3-half w3-margin-bottom">
        <label><i class="fa fa-truck"></i> City</label>
        <select class="w3-select w3-border" name="city">
          <option value=''></option>
          {% for city in cities%}
            <option value={{city}}>{{city}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="w3-half">
        <label><i class="fa fa-truck"></i> Zip Code</label>
        <input class="w3-input w3-border" type="text" placeholder="76010" name="zip_code">
      </div>
    </div>
    <button class="w3-button w3-dark-grey" type="submit"><i class="fa fa-search w3-margin-right"></i> Search availability</button>
  </form>
{% endblock %}

{% block about %}
<div class="w3-row-padding" id="about">
    <div class="w3-col l4 12">
        <h3>About</h3>
        <h6>The Apartment App, powered by Django and integrated with Leaflet for interactive mapping, redefines apartment searching by offering users a seamless and visually engaging platform. Built on Django's robust framework, it simplifies the search process with intuitive filters and comprehensive property details. Users can explore listings effortlessly, aided by precise location coordinates and detailed information. Administrators benefit from efficient property management tools, ensuring smooth operations and scalability. Overall, the Apartment App enhances the apartment search experience with its user-friendly interface and powerful backend, catering to both users and administrators alike.</h6>
    </div>
    <div id="mapid" class="w3-col l8 12" style="width:550px; height:350px;">
    <!-- Image of location/map -->
    </div>
</div>
{% endblock %}

{% block results %}
<hr>
{% endblock %}

{% block cities %}
<div class="w3-container">
  <h3>Locations</h3>
  <h6>Cities where Apartments are located:</h6>
</div>

<div class="w3-row-padding w3-padding-16 w3-text-white w3-large">
  <div class="w3-half w3-margin-bottom">
    <div class="w3-display-container">
      <img src="{% static 'images/dallas.jpg' %}" alt="Dallas" style="width:100%">
      <span class="w3-display-bottomleft" style="color: white; padding: 5px; background-color: black; display: inline-block;"><b>Dallas</b></span>
    </div>
  </div>
  <div class="w3-half">
    <div class="w3-row-padding" style="margin:0 -16px">
      <div class="w3-half w3-margin-bottom">
        <div class="w3-display-container">
          <img src="{% static 'images/fortworth.jpg' %}" alt="Fort Worth" style="width:365px; height:250px;">
          <span class="w3-display-bottomleft" style="color: white; padding: 5px; background-color: black; display: inline-block;"><b>Fort Worth</b></span>
        </div>
      </div>
      <div class="w3-half w3-margin-bottom">
        <div class="w3-display-container">
          <img src="{% static 'images/grandprarie.jpg' %}" alt="Grand Prarie" style="width:365px; height:250px;">
          <span class="w3-display-bottomleft" style="color: white; padding: 5px; background-color: black; display: inline-block;"><b>Grand Prarie</b></span>
        </div>
      </div>
    </div>
    <div class="w3-row-padding" style="margin:0 -16px">
      <div class="w3-half w3-margin-bottom">
        <div class="w3-display-container">
          <img src="{% static 'images/arlington.jpg' %}" alt="Arlington" style="width:365px; height:225px;">
          <span class="w3-display-bottomleft" style="color: white; padding: 5px; background-color: black; display: inline-block;"><b>Arlington</b></span>
        </div>
      </div>
      <div class="w3-half w3-margin-bottom">
        <div class="w3-display-container">
          <img src="{% static 'images/hurst.jpg' %}" alt="Hurst" style="width:365px; height:225px;">
          <span class="w3-display-bottomleft" style="color: white; padding: 5px; background-color: black; display: inline-block;"><b>Hurst</b></span>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
  var namesData = JSON.parse('{{ names|escapejs }}');
  var addressData = JSON.parse('{{ address|escapejs }}');
  var coordsData = JSON.parse('{{ coords|escapejs }}');
</script>

<script src="{% static 'scripts/aptmap.js' %}"></script>
{% endblock %}