{% extends 'sentiment_static.html' %}
{% load static %}

{% block style %}
<style>
  body, h1, h2, h3, h4, h5, h6 {
     font-family: "Montserrat", sans-serif;
 }
 body, html {
     margin: 0;
     padding: 0;
     height: 100%;
     width: 100%;
     overflow: hidden; /* Disable scrolling */
 }

 .container {
     position: relative; /* Establishes a positioning context */
     width: 100%;
     height: 100vh; /* Full viewport height */
     background-image: url("{% static 'images/sentiment_analysis_background.gif' %}");
     background-size: cover;
     background-position: center;
 }
 
 .divider {
    position: absolute; /* Allows positioning within the .container */
    top: 0;
    left: 50%; /* Start positioning from the center */
    transform: translateX(-50%); /* Center horizontally */
    width: 80%; /* Adjust width as needed */
    height: 2px;
    z-index: 1; /* Ensures it appears in front of the background image */
    background-color: black; /* Add background color to make the divider visible */
}
 .form-container {
    z-index: 1; /* Ensures it appears in front of the background image */
 } 
 .w3-row-padding img {
     margin-bottom: 12px;
 }
 /* Set the width of the sidebar to 120px */
 .w3-sidebar {
     width: 120px;
     background: #222;
 }
 /* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
 #main {
     margin-left: 120px;
 }
 /* Remove margins from "page content" on small screens */
 @media only screen and (max-width: 600px) {
     #main {
         margin-left: 0;
     }
 }
 .center {
     display: flex;
     justify-content: center;
 }
 .full-width-button {
     width: 100%;
     max-width: 100%;
     box-sizing: border-box;
 }
</style>
{% endblock %}

{% block largescreenicons %}
<img src="{% static 'images/Sean.jpg'%}" style="width:100%">
<a href="{% url 'home' %}" class="w3-bar-item w3-button w3-padding-large w3-black">
  <i class="fa fa-home w3-xxlarge"></i>
  <p>HOME</p>
</a>
<a href="{% url 'aptdb' %}" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
  <i class="far fa-building w3-xxlarge"></i>
  <p>APT DB</p>
</a>
{% endblock %}

{% block smallscreenicons %}
<a href="{% url 'home' %}" class="w3-bar-item w3-button" style="width:25% !important">HOME</a>
<a href="{% url 'aptdb' %}" class="w3-bar-item w3-button" style="width:25% !important">APT DB</a>
{% endblock %}

{% block title %}
<h1>Sentiment Analysis</h1>
{% endblock %}

{% block form %}
<form action="{% url 'analysis' %}" method="POST">
  {% csrf_token %}
  <div class="w3-row-padding" style="margin:0 -8px;">
    <!-- First Name Input -->
    <div class="w3-margin-bottom" style="display: flex; flex-direction: column;">
      <label for="textarea"><i class="fas fa-brain" style='font-size:24px;'></i> <u>Enter Text</u>: </label>
      <textarea id="textarea" style="background: rgba(255, 255, 255, 0.7);" name="textarea" rows="7" cols="50"></textarea>
    </div>
  </div>

  <!-- Submit Button -->
  <div class="center">
    <button type="submit" class="w3-button w3-blue full-width-button">Submit</button>
  </div>
  <br>

  {% if txt %}
  <div class="center" style="background: rgba(255, 255, 255, 0.7);">
    <p style="color: rgb(31, 81, 255);"><b>The Result for {{ txt }} is: </b>
      {% if neg > neu and neg > pos %}
      <label><i class='fas fa-angry' style='font-size:24px;'></i> Negative</label>
      {% elif pos > neu and pos > neg %}
      <label><i class='fas fa-grin-alt' style='font-size:24px;'></i> Positive</label>
      {% else %}
      <label><i class='fas fa-meh' style='font-size:24px;'></i> Neutral</label>
      {% endif %}   
    </p>
  </div>
  {% endif %}

</form>
{% endblock %}