{% extends 'static/sentiment_static.html' %}
{% load static %}

{% block largescreenicons %}
<img src="{% static 'imgs/Sean.jpg'%}" style="width:100%">
<a href="{% url 'land_index' %}" class="w3-bar-item w3-button w3-padding-large w3-black">
  <i class="fa fa-home w3-xxlarge"></i>
  <p>HOME</p>
</a>
<a href="#about" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
  <i class="fa fa-user w3-xxlarge"></i>
  <p>ABOUT</p>
</a>
<a href="#photos" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
  <i class="fa fa-eye w3-xxlarge"></i>
  <p>PHOTOS</p>
</a>
<a href="#contact" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
  <i class="fa fa-envelope w3-xxlarge"></i>
  <p>CONTACT</p>
</a>
{% endblock %}

{% block smallscreenicons %}
<a href="#" class="w3-bar-item w3-button" style="width:25% !important">HOME</a>
<a href="#about" class="w3-bar-item w3-button" style="width:25% !important">ABOUT</a>
<a href="#photos" class="w3-bar-item w3-button" style="width:25% !important">PHOTOS</a>
<a href="#contact" class="w3-bar-item w3-button" style="width:25% !important">CONTACT</a>
{% endblock %}